<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Colors</title>
</head>
<body>
<form action="/hue/color" target="_self" method="POST">
    <div>
        <input type="color" id="color1" name="color1"
               th:value="color1value">
        <label for="color1">color1</label>
    </div>

    <div>
        <input type="color" id="color2" name="color2"
               th:value="color2value">
        <label for="color2">color2</label>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>