<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syntaxis Hue App - Home</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap-4.3.1.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Syntaxis Hue App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/credentials">Credentials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scheduler">Scheduler</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Syntaxis Hue App</h1>
    <p class="lead">This website can be used to manage the Hue lights flow animation</p>
    <hr class="my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 text-right">
                <p>Animation: </p>
            </div>
            <div class="col-4 text-left">
                <p th:if="${flowRunning} == true"><span class="dot-on align-middle"></span></p>
                <p th:if="${flowRunning} == false"><span class="dot-off align-middle"></span></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-right">
                <p>Scheduler: </p>
            </div>
            <div class="col-4 text-left">
                <p th:if="${scheduleRunning} == true"><span class="dot-on align-middle"></span></p>
                <p th:if="${scheduleRunning} == false"><span class="dot-off align-middle"></span></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <form action="/hue/color" class="col-10" target="_self" method="POST">
            <div class="form-group" th:each="color, iter : ${colors}">
                <label th:text="'Color ' + (${iter.index}+1) + ':'">Color :</label>
                <input class="form-control float-right jscolor {closable:true,closeText:'Close', hash:true}"
                       th:value="${color.hexColor}" name="color" th:id="'color'+${iter.index}"
                       th:onchange="'update(this.jscolor, ' + ${iter.index} +')'">
            </div>
            <div class="form-group">
                <label for="min-delay">min-delay:</label>
                <input class="form-control float-right" type="number" name="minDelay" id="min-delay"
                       th:value="${minDelay}" oninput="updateAlert();">
            </div>
            <div class="form-group">
                <label for="max-delay">max-delay:</label>
                <input class="form-control float-right" type="number" name="maxDelay" id="max-delay"
                       th:value="${maxDelay}" oninput="updateAlert();">
            </div>
            <br>
            <div class="row d-none" id="delayAlert">
                <div class="alert w-100 alert-danger" role="alert">
                    min-delay cannot be &gt;&#61; max-delay!
                </div>
            </div>
            <div class="row d-none" id="emptyAlert">
                <div class="alert w-100 alert-danger" role="alert">
                    min-delay or max-delay cannot be empty!
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <a class="btn btn-primary m-1 pl-3 pr-3" href="/hue/on">Start</a>
                </div>
                <div class="col-5 text-center">
                    <a class="btn btn-danger m-1 pl-3 pr-3" href="/hue/off">Stop</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <a class="btn btn-success m-1 pl-3 pr-3" href="/hue/color/add">Add color</a>
                </div>
                <div class="col-5 text-center">
                    <a class="btn btn-success m-1 pl-3 pr-3" href="/hue/color/remove">Remove color</a>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="text-center">
        <h3>New Theme</h3>
    </div>
    <form action="/hue/themes/add" class="row justify-content-center" target="_self" method="POST">
        <div class="col-4">
            <input class="form-control float-right" type="text" name="name" placeholder="Theme name"/>
        </div>
        <div class="col-4 my-auto text-center">
            <button class="btn btn-info m-1 pl-3 pr-3" type="submit">Save</button>
        </div>
    </form>
    <hr>
    <div class="row justify-content-center" th:each="theme, iter : ${themes}">
        <div class="col-5 text-center my-auto overflow-hidden"><h5 th:text="${theme.name}">Theme</h5></div>
        <div class="col-5 text-center my-auto">
            <a class="btn btn-primary m-1 pl-3 pr-3" th:href="'/hue/themes/load/' + ${iter.index}">Load</a>
            <a class="btn btn-info m-1 pl-3 pr-3" th:href="'/hue/themes/save/' + ${iter.index}">Save</a>
            <a class="btn btn-danger m-1 pl-3 pr-3" th:href="'/hue/themes/remove/' + ${iter.index}">Delete</a>
        </div>
    </div>
</div>


<footer class="footer page-footer blue">
    <div class="container text-center">
        <span class="text-white">&copy Robin Dittrich<br>462270</span>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.3.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.3.1.js"></script>


<!-- Extra js files -->
<script src="/js/jscolor.js"></script>

<script th:inline="javascript">
    let colors = [];
    /*[# th:each="n : ${colors}"]*/
    colors.push("#[(${n.hexColor})]");

    /*[/]*/
    function update(jscolor, index) {
        colors[index] = "#" + jscolor.toString();
        console.log(colors);
        updateAlert();
    }

    function updateAlert() {
        let minDelay = parseInt(document.getElementById("min-delay").value);
        let maxDelay = parseInt(document.getElementById("max-delay").value);

        if (minDelay >= maxDelay || minDelay < 1 || maxDelay < 1) {
            if (document.getElementById("delayAlert").classList.contains("d-none")) {
                document.getElementById("delayAlert").classList.remove("d-none");
            }
        } else {
            if (!(document.getElementById("delayAlert").classList.contains("d-none"))) {
                document.getElementById("delayAlert").classList.add("d-none");
            }
        }

        if (!minDelay || !maxDelay) {
            if (document.getElementById("emptyAlert").classList.contains("d-none")) {
                document.getElementById("emptyAlert").classList.remove("d-none");
            }
        } else {
            if (!(document.getElementById("emptyAlert").classList.contains("d-none"))) {
                document.getElementById("emptyAlert").classList.add("d-none");
            }
        }

        if (minDelay && maxDelay && minDelay < maxDelay && minDelay >= 1 && maxDelay >= 1) {
            //Successful inputs
            let data = new FormData();
            data.append('minDelay', minDelay);
            data.append('maxDelay', maxDelay);
            data.append('color', colors);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/hue/color', true);
            xhr.onload = function () {
                console.log(this.responseText);
            };
            xhr.send(data);
        }
    }
</script>

</body>
</html>
